#menu {
    width: 100%;
    max-width: 1200px;
    height: 800px;
    margin: 0 10%;
    background: no-repeat url(../images/fond-menu.gif);
    background-size: contain;
    text-align: center;
}

ul {
    position: relative;
    top: 30%;
    list-style: none;
}