body {
    background:#323a22;
    color: aliceblue;
    font-family: MedievalSharp; font-style: normal; font-variant: normal;
}

#titre {
    margin: 5% 0;
    text-align: center;
}

a {
    color: aliceblue;
}

a:hover {
    text-decoration: none;;
}

h1 {
    font: 700 5.5em/26.4px MedievalSharp;
    text-shadow: 2px 2px 20px #007bff;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {text-shadow:2px 2px 20px black;}
    25%  {text-shadow:2px 2px 20px yellow;}
    50%  {text-shadow:2px 2px 20px blue;}
    100% {text-shadow:2px 2px 20px green;}
  }

h3 { 
     font: 700 3em/15.4px MedievalSharp; 
}

li { 
    font: 700 24px/26.4px MedievalSharp;
} 

blockquote { 
     font: 400 21px/30px MedievalSharp; 
} 

pre { 
     font: 400 13px/18.5714px MedievalSharp;
}

#jaeden, #lich {
    /*max-width: 100%;
    width: 11%;*/
}

#jaeden, #lich, #score-jaeden, #score-lich {
    font-size: 1.4em;;
}

#armes p {
    position: relative;
}

#armes :nth-child(4) {
    padding-left: 0 !important;
}

#baguette-magique + .degats {
    right: 47px;
}

.degats {
    position: absolute;
    bottom: 33px;
    right: 5px;
    color: black;
    font-weight: bold;
    font-size: 1em;
}

img#epee {
    background-color: lightblue;
}

img#glaive {
    background-color: purple; 
}

img#hache {
    background-color: blue;

}

img#baguette-magique {   
    position: relative;
    left: 32px; 
    background-color: darkgoldenrod;
    padding-left: 1.2em;
    padding-right: 1.4em;
}

img#couteau {
    background-color:teal;
}

.nom-arme {
    display: block;
    text-align: center;
    text-transform: capitalize;
}

#mon-arme {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 1em;
}