.cellule-obstacle {
    background: no-repeat center url('../images/obstacle.png');     
    background-size: cover;
}

.cellule-plateau {
    max-width: 50px;
    min-width: 50px;
}

#roi-jaeden-h2, #roi-lich-h2 {
    color: black;
    text-transform: capitalize;
    
}

#roi-jaeden-h2 {
    background-color: orchid;
}

.cellule-roi-jaeden {
    background: no-repeat center url('../images/kil-jaeden.png');     
    background-color: orchid;
}

#roi-lich-h2 {
    background-color: lime;
}

.cellule-roi-lich {
    background: no-repeat center url('../images/roi-lich.png');     
    background-color: lime;
}

.cellule-hache {
    background: no-repeat center url('../images/hache.png');     
    background-size: cover;
    background-color: blue;
}

.cellule-glaive {
    background: no-repeat center url('../images/glaive.png');     
    background-size: cover;
    background-color: purple;
}

.cellule-baguette-magique {
    background: no-repeat center url('../images/baguette-magique.png');     
    background-color: darkgoldenrod;
}

.cellule-epee {
    background: no-repeat center url('../images/epee.png');     
    background-size: cover;
    background-color: lightblue;
}